*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', 'Times','serif';
    scroll-behavior: smooth;
}
:root{
    --main-clr:#1f5662;
    --main-clr2:#ecb920;
}

body{
    font-family: "cairo","sans-serif";
}
header .container{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    text-decoration: none;
    color: var(--main-clr);
    font-weight: 700;
    font-size: 2.2em;
    font-family: "Lobster";
    padding: 10px 80px;
    letter-spacing: 1px;
}
ul{
    list-style: none;
    display: flex;
    font-size: 1.1em;
}
.nav>li>a{
    text-decoration: none;
    color: black;
    height: 72px;
    position: relative;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    overflow: hidden;
}
header .nav>li>a::before{
    content: '';
    background-color: var(--main-clr);
    width: 100%;
    height: 4px;
    transition: 0.25s;
    position: absolute;
    top: 0;
    left: -100%;
}
header .nav>li>a:hover{
    color: var(--main-clr);
    background-color: #ddd;
}
header .nav>li>a:hover::before{
    left: 0;
}
section{
    padding: 30px 120px;
}
.main{
    width: 100%;
    max-width: 100%;
    min-height: 110vh;
    display: flex;
    position: relative;
    align-items: center;
    background-size: cover;
    background: url(../img/home.png) no-repeat,var(--main-clr)  ;
    /*background-position: 300px center;*/
    background-position: 600px center;
    border-radius: 0 0 50% 50%;
    z-index: 0;
    /*background-attachment: fixed;*/
}
.main h2{
    color: #f0f0f0;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: var(--main-clr2);
    font-size: 3em;
    font-weight: 600;
}
.main h3{
    color: #f0f0f0;
    font-size: 1.4em;
    font-weight:700 ;
    margin-top: 10px;
    margin-bottom: 30px;
}
.search{
    background-color: #f0f0f0;
    border-radius: 15px;
    height: 70px;
    width: 340px;
    padding-top:7px;
}
.form-control {
    padding: 18px 20px;
    border: none;
    margin-right: 10px;
    border: none !important;
    background: none !important;
}
.form-control:hover,
.form-control:focus {
    outline: none;
    box-shadow: none;
}
.btn-primary {
    color: #000000;
    text-decoration: none;
    font-size: 1.1em;
    background-color: var(--main-clr2);
    font-weight: 600;
    display: inline-block;
    padding: 15px 30px;
    letter-spacing: 1px;
    border-radius: 15px;
    border-color: var(--main-clr2);
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.btn-primary:hover {
    background-color: #fcb900;
    transform: scale(1.1);
}
.title{
    display: flex;
    justify-content: center;
    color: var(--main-clr);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card, .house{
    background-color: #ffffff;
    width: 220px;
    box-shadow: 0 5px 25px RGBA(1 1 1 /15%);
    border-radius: 10px;
    padding: 10px;
    margin: 1%;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.pic{
    text-align: center;
    /*to scale the picture*/
}
.info{
    text-align: center;
}
.pic-card{
    text-align: center;
    position: relative;
    overflow: hidden;
}
.size-img-card{
    height: 160px;
    width: 200px;
}
.info h3{
    color: var(--main-clr2);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.end{
    background-color: var(--main-clr);
}
.end .title-diff {
    display: flex;
    justify-content: center;
    color: var(--main-clr2);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.contact{
    color: #000000;
    font-size: 1.1em;
}
.par{
    padding-bottom: 20px;
}
.copyright{
    padding-top: 20px;
}
.social-links a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
}
.social-links a:hover {
    color: #fff;
    border-color: #fff;
}

/*.log{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}*/
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.box::before{
    content: '';
    position: absolute;
    left: -50%;
    top: -50%;
    width: 380px;
    height: 420px;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    left: -50%;
    top: -50%;
    width: 380px;
    height: 420px;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.form{

    position: absolute;
    border-radius: 8px;
    z-index: 10;
    background-color: #28292d;
    inset: 2px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
.form h2{
    font-weight: 500;
    text-align: center;
    color: #45f3ff;
    letter-spacing: 0.1em;
}
.inputText{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.inputText input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: .05em;
    z-index: 10;
}
.inputText span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: .05em;
    transition: 0.5s;
}
.inputText input:focus ~ span,
.inputText input:valid ~ span{
    color: #45f3ff;
    transform:translateX(-10px) translateY(-34px);
    font-size: 0.75em;
}
.inputText i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
}
.inputText input:focus ~ i,
.inputText input:valid ~ i{
    height: 44px;
}
.link{
    display: flex;
    justify-content: space-between;
}
.link a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
}
.link a:hover,
.link a:nth-child(2){
    color: #45f3ff;
}
input[type="submit"]{
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}
.test{
    position: absolute;
    width: 500px;
    height: 500px;
    border-top-right-radius: 500px ;
    left: 100px;
}
.about{
    margin-bottom: 100px;
}
.pa{
    position: absolute;
    max-width: 60%;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;

}
.pa p{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
}


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.5s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
.owner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    min-height: 100vh;
    position: relative;
    top: -50px;
}

.cardp{
    position: relative;
    width: 350px;
    height: 190px;
    background-color: rgb(31, 86, 98,0.2);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;


}
a:hover i{
    transform: translateY(-3px);
}
.team:hover{
    height: 400px;
}

.team:hover .img{
    top: -20%;
    width: 100px;
    height: 100px;
}
.img{
    position: absolute;
    left: 50%;
    top: -20%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    overflow: hidden;
}
.img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.team .content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
}
.team .data h3{
    color: #28292d;
}
.team .social i{
    color: #1F5662;
    padding: 20px;
}
.team .content .info{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s ;
    transform: translateY(80px);
}
.team:hover .content .info{
    transform: translateY(40px);
}
.team .content .info h2{
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.2;
    position: relative;
    top: -20px;
}
h3{
    color: #555;
}
.team .content .info h2 span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}
.team .content .info .data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.team{
    background-color: rgb(31, 86, 98,0.2);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);}
.team:hover .team .content .info .data{
    display: flex;
}
.social{
    display: flex;
    justify-content: space-evenly;
}
.container2 i{
    padding: 0 20px;
    font-size: 30px;
    color: #1F5662;
    position: relative;
    left: -40px;
    top: 15px;
    width: fit-content;
    position: initial;
}

.count{
    display: flex;
    justify-content: center;
    position: relative;
    top: -200px;
}

.wrapper {
    position: relative;
    width: 90vw;
    height: 400px;

    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.wrapper img{
    position: absolute;
    top: -70px;
    opacity: 0.2;
}
.container2 i ,span.num ,span.text{
    transform: rotate(-45deg);
}
.container2 {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;
    position: relative;
    border-radius: 20px;
    font-size: 16px;
    background-color: rgb(31, 86, 98,0.2);
    transform: rotate(45deg);
    margin-bottom: 30px;
]
}
.z {
    color: #1F5662;
    font-size: 2.5em;
    text-align: center;
}
span.num {
    color: black;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}
span.text {
    color: #333;
    font-size: 1em;
    text-align: center;
    padding: 0.7em 0;
    font-weight: 500;
    line-height: 0;
   position: relative;
    left: 30%;
}
.up{
    position: absolute;

    left: 80%;
}
.up i{
    font-size: 25px;
    color: white;
    animation: animate 2s linear infinite;
}
.team{
    position: relative;
    display: flex;
    align-items: end;
    height: 200px;
}
.team:hover{
    height: 300px;
}
.ot{
    position: relative;
    top: -50px;
}
.t{
    margin-bottom: 240px;
}
.pic{
    position: relative;
    overflow: hidden;
}
.pic img{
    width: 250px;
    height: 220px;
    transition: 0.3s;
}
.pic::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    background-color: rgb(255 255 255 /20%);
    z-index: 2;
}
.pic:hover::before{
    animation: animat 0.7s;
}
.pic:hover img{
    transform: rotate(5deg) scale(0.95);
}
@keyframes animat{
    0%,40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }

}
a{
    text-decoration: none;
}
.house{
    width: 300px;
}
.houses{
    margin-bottom: 30px;
}
@keyframes animate {
    0%,10%, 20%,50%,80%,100%{
        transform: translateY(0);
    }
    40%,60%{
        transform: translateY(-15px);
    }

}
@media screen and (max-width: 1024px) {
    .wrapper {
        width: 85vw;
    }
    /*.container {
        height: 26vmin;
        width: 26vmin;
        font-size: 12px;
    }*/
}
@media screen and (max-width: 768px) {
    .wrapper {
        width: 90vw;
        flex-wrap: wrap;
        gap: 30px;
    }
    /*.container {
        width: calc(50% - 40px);
        height: 30vmin;
        font-size: 14px;
    }*/
}
@media screen and (max-width: 480px) {
    .wrapper {
        gap: 15px;
    }
    /*.container {
        width: 100%;
        height: 25vmin;
        font-size: 8px;
    }*/
}
@media screen and (max-width: 1115px){
    .main {
        background-position: 400px center;
    }
}