*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', 'Times','serif';

}
.navbar {
    background-color: #f0f0f0;
    padding: 0;
    height: 72px;
}
body{
    font-family: 'Times New Roman', 'Times','serif';
}
.navbar-brand{
    font-family: "Lobster";
    color:#1F5662;
    font-weight: 700;
    font-size: 2.2em;
    margin-left: 80px;
}
.navbar-nav{
    margin-right: 20px;
    font-family: "sans-serif";
    font-size: 1.1em;
    font-weight: 600;
}
.navbar-nav .nav-item .nav-link{
    width: 116px;
    height: 70px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.navbar-nav .nav-item .nav-link::before{
    content: '';
    background-color: #1F5662;
    width: 100%;
    height: 4px;
    transition: 0.25s;
    position: absolute;
    top: 0;
    left: -100%;
}
.navbar-nav .nav-item .nav-link:hover{
    color:#1F5662;
    background-color: #ddd;

}
navbar-nav .nav-item .nav-link{
    padding-top: 100px ;
}
.navbar-nav .nav-item .nav-link:hover::before{
    left: 0;

}
.navbar .navbar-toggler{
    font-size: 25px;
}
.carousel-item img{
    width: 500px;
    margin-left: 100px;
    position: relative;
    height: 500px;
}
.carousel-caption{
    margin-left: 500px;
    top: 300px;
}
.carousel{
    background-color: #1F5662;
    height: 80vh;
    /*border-radius: 0 0 35% 35%;*/
}
h2{
    color: #ecb920;
}
p, .carousel-control-prev{
    color: white;
}

.container{
    height: 500px;
    /*background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(82,138,150,1) 70%);*/
    position: relative;
    top: -150px;
}
.carousel-inner{
    overflow: visible;
}
.wrapper{
    overflow: hidden;
    max-width: 800px;
    height: 300px;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -100px;

}
.wrapper h1{
    position: relative;
    display: inline-block;
}
.line{
    display: block;
    width: 40px;
    height: 4px;
    background-color: #ecb920;
    margin-left: auto;
    margin-right: auto;
}
.wrapper p{
    color: black;
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
}
@keyframes type{
    from {
        width: 0;
    }
}

.card2{

    width: 280px;
    height: 300px;
    position: relative;
    background-color: rgba(255,255,255,0.1);
    overflow: hidden;
}
.card2 .img2{
    width: 100%;
    height: 320px;
    background-color: rgb(31, 86, 98,0.1);
    box-shadow: 0 5px 25px RGBA(1 1 1 /15%);
}
.card2 .img2 img{
    width: 100%;
    height: 100%;
}
.card2 .content{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background-color: darkslategrey;
    transition: 0.5s;
    padding: 10px;
    box-sizing: border-box;
}
.card2 .content h1{
    margin-top: 10px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
}
.card2 .content p{
    text-align: justify;
    /* letter-spacing: 1px; */
    color: rgba(255, 255, 255, 0.8);
}
.card2:hover .content{
    height: 215px;
}
.card2:hover i{
    font-size: 60px;
    top: 10px;
}
/* For why us Animation*/
.ml11 {
    font-weight: 700;
    font-size: 3.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}
.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #333;
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.5s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}
.img2{
background-color: #fff;
    justify-content: center;
}
.img2 i{
    position: relative;
    font-size: 120px;
    color: #1F5662;
    top: 50px;
}
.house{
    background-color: #ffffff;
    width: 250px;
    box-shadow: 0 5px 25px RGBA(1 1 1 /15%);
    border-radius: 10px;
    padding: 10px;
    margin: 1%;
    transition: 0.7s ease;
}
h2{
    margin-left: auto;
    width: fit-content;
    margin-right: auto;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.pic{
    text-align: center;
    /*to scale the picture*/
}
.info{
    text-align: center;
}
.pic-card{
    text-align: center;
    position: relative;
    overflow: hidden;
}
.size-img-card{
    height: 160px;
    width: 200px;
}
.info h3{
    color: var(--main-clr2);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
section{
    padding: 30px 120px;
}
.pic{
    position: relative;
    overflow: hidden;
}
.pic img{
    width: 250px;
    height: 220px;
    transition: 0.3s;
}
.pic::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    background-color: rgb(255 255 255 /20%);
    z-index: 2;
}
.pic:hover::before{
    animation: animat 0.7s;
}
section.houses{
    top: -80px;
}
.pic:hover img{
    transform: rotate(5deg) scale(0.95);
}
.info p{
    color: black;
}
.pic{
    position: relative;
    overflow: hidden;
}
.pic img{
    width: 250px;
    height: 220px;
    transition: 0.3s;
}
.pic::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    background-color: rgb(255 255 255 /20%);
    z-index: 2;
}
.pic:hover::before{
    animation: animat 0.7s;
}
.pic:hover img{
    transform: rotate(5deg) scale(0.95);
}
@keyframes animat{
    0%,40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }

}
.info h3{
    color: #1F5662;
    left: 0;
    width: 100%;
    position: relative;
}
h2.title{
    color: black;

}
h2.line{
    margin-bottom: 20px;
}
h3 i{
    position: absolute;
    right: 40px;
    cursor: pointer;
    animation: arrow 0.5s linear infinite;
    color: #fcb900;
}
/*
 arrow read more*/
@keyframes arrow{
    100%{
        transform: translateX(10px);
    }
}
.house:hover:not(.img){
    transform: translateY(-10px);
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
}
/* For counter section*/

.count{
    display: flex;
    justify-content: center;
    position: relative;
    /*top: -200px;*/
}


.wrapper img{
    position: absolute;
    top: -50px;
    opacity: 0.2;
}
.container2 i ,span.num ,span.text{
    transform: rotate(-45deg);
    position: absolute;

}
.container2 i{
    left: 50px;
    left: 30px;
    top: 30px;
}
.container2 {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;
    position: relative;
    border-radius: 20px;
    font-size: 16px;
    background-color: rgb(31, 86, 98,0.2);
    transform: rotate(45deg);
    margin-bottom: 30px;

]
}
.z {
    color: #1F5662;
    font-size: 2.5em;
    text-align: center;
}
span.num {
    color: black;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
    top: 50px;
    left: 50px;
}
span.text {
    color: #333;
    font-size: 1em;
    text-align: center;
    padding: 0.7em 0;
    font-weight: 500;
    line-height: 0;
    position: relative;
    width: fit-content;
    top: 100px;
    left: 150px;
    font-size: 20px;
    font-weight: 800;
    color: #1F5662;
}
.co{
    position: relative;
    top: -400px;
    width: 110%;
}
.counter img{
    z-index: -2;
    opacity: 0.2;
    height: 500px;
}
.feedback{
    background-color: white;
    height: 400px;
}
.feedback .carousel-indicators button{
    background-color: #fcb900;
}
.feedback img{
    width: 100px;
    height: 100px;
    margin: 20px auto;
}
.feedback .carousel-item{
    text-align: center;
}
.feedback h4{
    color: #fcb900;
}
.feedback p{
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: "cairo", "sans-serif";
}
/* Team */
.cardt{
    background-color: #ffffff;
    width: 220px;
    box-shadow: 0 5px 25px RGBA(1 1 1 /15%);
    border-radius: 10px;
    padding: 10px;
    margin: 1%;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.t{
    margin-top: 40px;
}
.team:hover{
    height: 400px;
}

.team:hover .img{
    top: -20%;
    width: 100px;
    height: 100px;
}
.img{
    position: absolute;
    left: 50%;
    top: -20%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    overflow: hidden;
}
.img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.team .content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
}
.team .data h3{
    color: #28292d;
}
.team .social i{
    color: #1F5662;
    padding: 20px;
}
.team .content .info{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s ;
    transform: translateY(80px);
}
.team:hover .content .info{
    transform: translateY(40px);
}
.team .content .info h2{
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.2;
    position: relative;
    top: -20px;
}
h3{
    color: #555;
}
.team .content .info h2 span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}
.team .content .info .data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.team{
    background-color: rgb(31, 86, 98,0.2);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);}
.team:hover .team .content .info .data{
    display: flex;
}
.social{
    display: flex;
    justify-content: space-evenly;
}
.team{
    position: relative;
    display: flex;
    align-items: end;
    height: 200px;
}
.team:hover{
    height: 300px;
}
.ot{
    position: relative;
    top: -50px;
}
.t{
    margin-bottom: 240px;
}
.social i:hover{
    transform: translateY(-10px);
}
.t h2{
    color: #1F5662;
}
.t h2 span{
    color: #333;
}
/* Footer section*/
.end{
    background-color: #1F5662;
}
.end .title-diff {
    display: flex;
    justify-content: center;
    color: var(--main-clr2);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.contact{
    color: #000000;
    font-size: 1.1em;
}
.par{
    padding-bottom: 20px;
}
.copyright{
    padding-top: 20px;
}
.social-links a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
}
.social-links a:hover {
    color: #fff;
    border-color: #fff;
}
.up{
    position: absolute;
    left: 80%;
}
.up i{
    font-size: 25px;
    color: white;
    animation: animate 2s linear infinite;
}
@keyframes animate {
    0%,10%, 20%,50%,80%,100%{
        transform: translateY(0);
    }
    40%,60%{
        transform: translateY(-15px);
    }

}
.links{
    position: absolute;

    width: fit-content;
    transform: translate(900px,-150px);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin-left: auto;
    text-align: center;
}